@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Henny+Penny');
/* Style page for E-ventory Site
 * CSS -style.css
 */

 body {
  background-image: url("siteBackground.jpg")
}
#navBar {
  list-style: none;
  margin: 5px;
  padding: 5px;
}

#navBar li {
  float: left;
  display: flex;
  justify-content: space-around;
  background: rgb(67, 130, 247);
}

#navBar li a{
  display: block;
  width: 100%;
  font: bold 20px;
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 10px;
  color: #FFC300;
}
#navBar li a:hover{
  background-color:  #FD69FF;
}

.pageContent {
  margin: 20px;
  position: relative;
}
.login{
  margin: 20px;
  font-family: "Didot", serif;
}
input {
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* Style the container for inputs */
.container {
/*   background-color: #f1f1f1;
 */  padding: 20px;
}
p {
  font-family: "FreeMono", monospace;
  font-size: 15px;
}
#tableWrapper {
  position: relative;
}
#divTable {
  height: 150px;
  overflow: auto;
  margin-top: 20px;
}

#tableWrapper table, th, thead .text{
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:100%;
}
tbody {
  padding: 10px;
}
label {
  font-size: 24px;
  font-family: "Henny Penny",;
}
h1 {
  font-family: "Acme", sans-serif;
  font-size: 60px;
}